In [13]:
load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [17]:
%%sql sqlite://
CREATE TABLE languages (name, rating, change);
INSERT INTO languages VALUES ('Python', 14.44, 2.48);
INSERT INTO languages VALUES ('C', 13.13, 1.50);
INSERT INTO languages VALUES ('Java', 11.59, 0.40);
INSERT INTO languages VALUES ('C++', 10.00, 1.98);

(sqlite3.OperationalError) table languages already exists
[SQL: CREATE TABLE languages (name, rating, change);]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [18]:
%sql SELECT * FROM languages

 * sqlite:///example.db
Done.

[('Python', 14.44, 2.48),
 ('C', 13.13, 1.5),
 ('Java', 11.59, 0.4),
 ('C++', 10.0, 1.98)]

In [19]:
result = %sql SELECT * FROM languages WHERE rating > 10

 * sqlite:///example.db
Done.