# What is SQL?
SQL stands for Structured Query Language.SQL lets you access and manipulate databases

# Introducing the world table of countries


                    # world
name	continent	area	population	gdp
Afghanistan	Asia	652230	25500100	20343000000
Albania	Europe	28748	2831741	12960000000
Algeria	Africa	2381741	37100000	188681000000
Andorra	Europe	468	78115	3712000000
Angola	Africa	1246700	20609294	100990000000
....

### SELECT Basics

- 1.1 (Select----Where)\
The example uses a WHERE clause to show the population of 'France'. Note that strings should be in 'single quotes';
Modify it to show the population of Germany

                SELECT population FROM world\
                      WHERE name = 'Germany'
- 1.2 (IN)\
Checking a list The word IN allows us to check if an item is in a list. The example shows the name and population for the countries 'Brazil', 'Russia', 'India' and 'China'.Show the name and the population for 'Sweden', 'Norway' and 'Denmark'.\

                SELECT name, population FROM world\
                  WHERE name IN ('Sweden', 'Norway', 'Denmark');

- 1.2 (BETWEEN)\\

 Which countries are not too small and not too big? BETWEEN allows range checking (range specified is inclusive of boundary values). The example below shows countries with an area of 250,000-300,000 sq. km. Modify it to show the country and the area for countries with an area between 200,000 and 250,000.

                     SELECT name, area FROM world
                        WHERE area BETWEEN 200000 AND 250000

### SELECT from WORLD Tutorial

- 2.1	Introduction/  SELECT-------  FROM\
To show the name, continent and population of all countries.
           
                 SELECT name, continent, population FROM world
              
- 2.2 Large Countries/ How to use WHERE to filter records.\
Show the name for the countries that have a population of at least 200 million. 200 million is 200000000, there are eight zeros.

               SELECT name FROM world
                  WHERE population = 200000000


- 2.3 Per capita GDP\
Give the name and the per capita GDP for those countries with a population of at least 200 million.HELP:How to calculate per capita GDP,per capita GDP is the GDP divided by the population GDP/population\
--------------------------------------
            SELECT name, gdp/population FROM world
             WHERE population > 200000000
             
- 2.4. Show the name and population in millions for the countries of the continent 'South America'---------------------WHERE
-------------------

                SELECT name, population/1000000 FROM world
                       WHERE continent="South America"; 
   
- 2.5
 Show the name and population for France, Germany, Italy---------------------IN
-------------------------

                     SELECT name, population
                            FROM world
                      WHERE name IN("France", "Germany", "Italy")

- 2.6. Show the countries which have a name that includes the word 'United'--------LIKE" name%"
                                          SELECT name
                                             FROM world
                                    WHERE name LIKE"United%"

6	United




7	Two ways to be big




8	One or the other (but not both)
9	Rounding
10	Trillion dollar economies
11	Name and capital have the same length
12	Matching name and capital
13	All the vowels